<nav class="bg-[#1B2432] text-slate-50">
  <div class="container mx-auto px-4 py-3 flex items-center justify-between">
    
    <a routerLink="/" class="text-2xl font-bold ">
  🚌 TransportHub
    </a>
        <div class="flex items-center gap-4">
                  <!-- NOT logged in -->
       <ng-container *ngIf="!isLoggedIn()">

            <a
          routerLink="/login"
          class="border border-white px-4 py-2 rounded-md hover:text-sky-400 transition"
        >
          Login
        </a>
         <a
          routerLink="/register"
          class="border border-white px-4 py-2 rounded-md  hover:text-sky-400 transition"
        >
          Register
        </a>
         <a
          routerLink="/"
          class="border border-white px-4 py-2 rounded-md  hover:text-sky-400 transition"
        >
          Contact
        </a>
              </ng-container>

<!-- Logged in -->
        <ng-container *ngIf="isLoggedIn() && userDetail">
          <!-- <div *ngIf="authService.getUserName() as userDetail"> -->
        <span class="text-sm">
          Hi, {{ userDetail.FullName }}
        </span>
        <!-- </div> -->

        <button
          (click)="logout()"
          class="bg-red-500 px-4 py-2 rounded hover:bg-red-600"
        >
          Logout
        </button>
      </ng-container>

        </div>
        </div>
        </nav>